.search-area{
   text-align: center;
   margin: 20px;
}

input{
    font-size: 20px;
}
button{
    background-color: orange;
    font-size: 20px;
}

#food-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.food{
    text-align: center;
    background-color:rgb(236, 236, 236);
    border-radius: 10px;
}
.food img{    
    border-radius: 10px;
}


#food-details img{
    border-radius: 10px;
}
#notFound{
    display: none;
    text-align: center;
    color: rgb(230, 13, 13);
}